<!DOCTYPE html>
<html>
<head>
	<title>Pothole detection</title>
</head>
<style>
	body{
		margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
        background:url(https://image.shutterstock.com/image-vector/car-wheel-fell-into-pit-260nw-1491691268.jpg);
        background-size:100%,100%;
	}
	p1{
        color:red;
        font-size:25px;
	}
	p{
       color:blue;
       font-size:15px;
	}
	
}
</style>
<body>
	<form action="/" method="post" method="get">
	<p ><strong>picture</strong>:<input type="file" accept="image/*" capture="camera" name="pic"/></p><br>
	<input type="submit" name="">
	</form>
	<p1>
{{answer}}</p1><br>

</body>

</html>
